@{
    ViewBag.Title = "signalRoverflow";
}

<div id="content">
    <header>
        <hgroup>
            <h1>signalRoverflow</h1>
            <div id="rightBanner"></div>
        </hgroup>
    </header>
    <section id="userInput">
        <div data-bind="visible: !isLoggedIn()">
            <label for="userName" id="logInPrompt">Your name:</label>
            <input id="userName" type="text" data-bind="value: userName"/>
            <a id="logIn" data-bind="click: loginUser">That's me!</a>
        </div>
        <div data-bind="visible: isLoggedIn()">
            <label for="newQuestion" id="questionPrompt"><span data-bind="text: userName"></span> wants to know...</label>
            <textarea cols=20 rows=2 id="newQuestion" name="newQuestion" data-bind="value: newQuestionText"></textarea>
            <a id='addItem' data-bind="click: addQuestion">Ask now!</a>
        </div>
    </section>
    <ul id="questions" data-bind="foreach: questions">
        <li class=question>
            <div class=questionStatus>
                <a class="vote voteup" data-bind="click: voteUp, css: {selected: didUserVoteUp}"></a>
                <div class=votecount data-bind="text: voteCount"></div>
                <a class="vote votedown" data-bind="click: voteDown, css: {selected: didUserVoteDown}"></a>
            </div>
            <div class=questionText>
                <p data-bind="text: content"></p>
                <div class="questionAuthor">From: <span data-bind="text: author"></span></div>
            </div>
        </li>
    </ul>
    <footer><div></div></footer>
</div>

@section Scripts{
    <script type="text/javascript" src="../../Scripts/jquery.signalR-0.5.0.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/overflow");
}